<div class="row my-2">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-3 p-sm-4">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign up account</h5>
                <form action="/signup/user" method="post">
                    <div class="form-floating mb-3">
                        <input name="name" type="text" class="form-control" id="floatingInput" placeholder="Name">
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="un" type="text" class="form-control" id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="pw" type="password" class="form-control pw" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control con_pw" id="floatingPassword" placeholder="Confirm password">
                        <label for="floatingPassword">Confirm password</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-danger btn-login text-uppercase fw-bold" id="suBtn" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
            {{> footer}}
        </div>
    </div>
</div>
<div class="row my-5">
    {{> footer}}
</div>
<script>
    $(function() {
        $('#suBtn').click(function(e) {
            if($(':text').val() === '' || $(":input[name='email']").val() === '' || $(':password').val() === '') {
                e.preventDefault();
                alert("Vui lòng điền đầy đủ thông tin!");
            }            
            if($('.pw').val() != $('.con_pw').val()) {
                e.preventDefault();
                alert("Xác nhận mật khẩu chưa đúng!");
            }
        });
    });
</script>